<!-- Submit Recipe Form -->
<section id="Heores-2">
    <div class="px-4 py-5 pt-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="\images\publish-recipe.jpg" alt="">
      <h1 class="display-5 fw-bold">Publish Your Recipe For Free Today </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish Your Recipe in front of thousands of People for free</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/submit-recipe"><button type="button" class="btn btn-dark btn-lg px-4 gap-3">Submit Recipe</button></a>
        </div>
      </div>
    </div>
</section> 
  </body>
  </html>