<%-include("partials/header.ejs")%>
<div class="mx-5 px-5 pt-4 d-flex flex-wrap">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-3">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About us</li>
    </ol>   
    </nav>
</div>

<div class="row col-md-11 mx-5 px-5">
    <div class="col-12 col-md-4">
      <img src="\images\mexican-food.jpg" class="card-img-top" alt="about-image" height="50%" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-sm-12"><h1 class="mx-3 fs-2">Welcome to Cooking Blog</h1></div>
        <div class="col-sm-12 mb-4 mx-3 fs-3">Lets Talk Food <i class="mx-2 fa-solid fa-tag"></i></div>
      </div>

      <div class="row pt-4 py-3">
        <div class="col-sm-12">
          <p class="px-3 fs-5">Well, we hope that’s why you’re here. Our recipes are designed for real, actual, every day 
            life, and we try to focus on real foods and healthy recipes (which honestly means a lot of 
            different things to us, including the perfect chocolate chip cookie and cheese on cheese on 
            cheese, because health is all about balance, right?).</p>
        </div>
        
          <div class="col-sm-12">
            <p class="px-3 fs-5">This is the place to find those recipes — everything from our most popular, 
            to meal prep, to Instant Pot recipes, or if you just, like, have some sad greens 
            in your fridge to use up and you need some inspiration.</p>
          </div>
            <div class="col-sm-12">
                <p class="px-3 fs-5">You’re here! Have fun. We hope you find something (many things) you love</p>
            </div>
      </div>
    </div>
</div>

<section id="sub-footer">
    <div class="container-fluid back-3">
      <footer class="d-flex flex-wrap justify-content-end align-items-start pb-3 pt-4">
          <div class="design-4 mx-5">Privacy policy</div>
          <div class="design-4 mx-3">Terms & conditions</div> 
          <div class="design-4 mx-5">Security information</div>
        <ul class="nav col-md-4  list-unstyled d-flex ">
          <li class="ms-4"><a class="text-muted" href="#"><i class="fa-brands fa-square-facebook fa-lg"></i></a></li>
          <li class="ms-4"><a class="text-muted" href="#"><i class="fa-brands fa-twitter fa-lg"></i></a></li>
          <li class="ms-4"><a class="text-muted" href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
          <li class="ms-4"><a class="text-muted" href="#"><i class="fa-brands fa-youtube fa-lg"></i></a></li>
        </ul>
      </footer>
    </div>
</section>
  
</body>
</html>